.ni-container {
    position: relative;
    width: 220px;
    --ni-label-bg: #ffffff;
}

html.dark .ni-container {
    --ni-label-bg: #1c1c1c;
}

.ni-input {
    padding: 10px;
    height: 40px;
    font-size: 16px;
    background: transparent;
    outline: none;
    color: var(--obscura-accent);
    border: 2px solid var(--obscura-accent);
    border-top: none;
    border-bottom: none;
    box-shadow: 7px 7px 0px 0px var(--obscura-accent);
    transition: all 0.5s;
    -moz-appearance: textfield;
}

.ni-input::-webkit-inner-spin-button,
.ni-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ni-input:focus {
    box-shadow: none;
    transition: all 0.5s;
}

.ni-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: var(--obscura-accent);
    transition: all 0.5s;
    transform: scale(0);
    background-color: var(--ni-label-bg);
    padding: 0 2px;
}

.ni-topline,
.ni-underline {
    position: absolute;
    content: "";
    background-color: var(--obscura-accent);
    width: 0%;
    height: 2px;
    right: 0;
    transition: all 0.5s;
}

.ni-topline {
    top: 0;
}

.ni-underline {
    bottom: 0;
}

.ni-container input:focus ~ .ni-topline {
    width: 35%;
    transition: all 0.5s;
}

.ni-container input:focus ~ .ni-underline {
    width: 100%;
    transition: all 0.5s;
}

.ni-container input:focus ~ .ni-label {
    top: -10px;
    transform: scale(1);
    z-index: 1;
    transition: all 0.5s;
}
